/* We typically use one CSS file, named main.css to control all of our pages */

/* this is a class we use to hide headings in our design */
.hidden {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
}

#container {
    width: 428px;
    margin: 20px auto;
    border: solid 1px darkgray;
    border-radius: 15px;
    background-color: #efefef;
}

h2 {    
    font-size: 42px;
    font-family: 'Pacifico', Arial, sans-serif;
    font-weight: bold;
    margin: 20px;   
    letter-spacing: 8px;
    background-color: rgb(213, 59, 59);
    color: white;
    padding: 15px;
    border-radius: 10px;
    
}

span{
    font-size: 15px;
    font-family: 'Pacifico', Arial, sans-serif;
}

h3 {
    color: #efefef;
    background-color:purple;
    border: purple solid;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 50px;
    padding: 50px;
    letter-spacing: 24px;
}

p {
     font-family: 'Lato', Arial, sans-serif;
     margin-bottom: 20px;
     line-height: 24px;
     color: #363636;
}

#main-content {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    padding-left: 20px;
    padding-right: 20px;
}

article {
    grid-column: 1/-1;
}

img {
    padding-left: 50px;
    height: 400px;
    width: 250px;
}